/* Variables */

/* Mixins */

/* Imports */
@import "../node_modules/bootstrap/scss/bootstrap";

/* Styling */

#basket{
  font-size: 36px;
  color: black;
  text-decoration: none;
}

#phone{
  font-size: 28px;
  color: black;
  text-decoration: none;
}

#location{
  font-size: 28px;
  color: black;
  text-decoration: none;
}

#mail{
  font-size: 28px;
  color: black;
  text-decoration: none;
}

#footer{
  background-color: gainsboro;
  font-size: 12px;
}

#MailText{
  font-size: 12px;
}

.BK_Undertekst{
  font-size: 10px;
}

.Boxed{
  border: black 2px solid;
}